<div class="opaque container auth-error">
  <div class="container error">
    <div class="tac full-width account-exists">
      <i class="material-icons error font-xlarge">error</i>
    </div>
    <p class="tac message account-exists">
      {{errorMessage}}
    </p>
  </div>
  {{#link-to "auth.login" class="tac button-link primary-action font-large"}}login{{/link-to}}
</div>
