{{#if message}}
  <div class="container message success">
    {{#if (eq message "signupSuccessful")}}
      <p class="message tac success white glowing-text">
         <i class="material-icons">done</i>account created
      </p>
    {{/if}}
    {{#if (eq message "verificationEmailSent")}}
      <p class="message tac success white glowing-text">
        check your email
      </p>
    {{/if}}
  </div>
{{/if}}

{{#if error}}
  <div class="container message error">
    <p class="message tac error white glowing-text">
      <i class="material-icons">error</i> {{get AUTH_ERRORS error}}
    </p>
  </div>
{{/if}}
{{#if isLoading}}
  <div class="container auth-form-controls opaque">
    <div class="auth-loading">
      {{loader-square-spin class="glass"}}
      <p class="message body-copy">verifying credentials</p>
    </div>
  </div>
{{else}}
  {{auth/login-form
    onSubmit=(action "onSubmit")
  }}
{{/if}}

{{#if (not isLoading)}}
  <p class="font-small tac white">
    password reset
  </p>
  <p class="signup-cta tac white">
    new to <span class="brand-text">crayon</span>? {{#link-to 'auth.signup' class="basic-link"}}sign up{{/link-to}} or learn more.
  </p>
{{/if}}
