.container.home {
  height: 100%;
  background: $eggshell;
  > .container.message {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
  }

  .email-verification {
    padding: 20px;

    .loader-base>div {
      margin: 0 auto;
    }

    .message-text {
      margin: 0 0 20px 0;
    }

    .primary-action {
      margin: 0 auto;
      display: block;

      .material-icons {
        margin-right: 10px;
      }
    }
  }
}