/////////////////
// THIRD PARTY //
/////////////////
@import "ember-cli-loaders/loaders";

///////////////////////
// CONFIGS/VARIABLES //
///////////////////////
@import "configs/index";

///////////////////////
// SHARED COMPONENTS //
///////////////////////
@import "fonts/index";
@import "elevations/index";
@import "containers/index";
@import "loaders/index";
@import "forms/index";
@import "utils/index";

///////////
// PAGES //
///////////
@import "pages/auth/index";
@import "pages/home/index";

html,
body {
  margin:0;
  padding:0;
  height: 100%;
}

.ember-application > .ember-view {
  height: 100%;
}