<div class="container home">
  {{#with firebase.currentUser as |user|}}
    {{#if (not user.emailVerified)}}
      {{home/send-verification-email
        email=user.email
        class="container message"
        onVerificationEmailSent=(action "onVerificationEmailSent")
      }}
    {{else}}
      <h1>HOME</h1>
      <button type="button" {{action "logOut"}}>log out</button>
      {{#if (eq model.length 0)}}
        <p>You have no accounts</p>
      {{else}}
        {{outlet}}
      {{/if}}
    {{/if}}
  {{/with}}
</div>
