button,
input[type="email"],
input[type="password"],
input[type="text"] {
  padding: $form-control-padding;
  border: $form-control-border solid #d1d1d1;
  border-radius: $form-control-radius;
  &:focus {
    outline: none;
    border-color: $electric-teal;
    box-shadow: 0 0 8px $electric-teal;
  }
  &.invalid {
    border: $form-control-border solid red;
  }
}

a.button-link {
  padding: $form-control-padding;
  border-radius: $form-control-radius;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

button {
  font-weight: 700;
  background: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.primary-action {
  background: $purple;
  color:  white;
  border: $form-control-border solid $purple;
  transition: background 0.1s ease-out;

  &:disabled {
    background: $purple-mist;
  }

  &:not(:disabled) {
    &:hover {
      background: white;
      color:  $purple;
      text-shadow: none;
    }
  }
}

a.basic-link {
  color: $electric-teal;
  text-decoration: none;
  cursor: pointer;
}