<div class="container message">
  <section class="container email-verification">
    {{#if isLoading}}
      {{loader-square-spin class="glass"}}
    {{else}}
      <p class="message-text tac font-large">
        {{email}} not verified
      </p>
      <button {{action "verifyEmail"}} class="primary-action font-large">
         <i class="material-icons v-align-middle">email</i>send verification email
      </button>
    {{/if}}
  </section>
</div>