<form id="login">
  {{input
    value=email
    name="email"
    required=true
    type="email"
    placeholder="email"
    class="font-large"
  }}
  {{input
    value=password
    name="password"
    required=true
    type="password"
    placeholder="password"
    class="font-large"
  }}
  <button
    {{action "submit"}}
    class="primary-action submit font-large purple-text-shadow"
    disabled={{not isSubmitEnabled}}>
    login
  </button>
</form>

{{#if (gt validationErrors.length 0)}}
  <div class="container errors form-errors">
    <ul class="error tac">
      {{#each validationErrors as |validationError|}}
        <li>{{validationError}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}