{{#if isLoading}}
  <div class="auth-loading">
    {{loader-square-spin class="glass"}}
    <p class="message body-copy">creating account</p>
  </div>
{{else}}
  <form id="signup">
    {{input
      value=email
      name="email"
      required=true
      type="email"
      placeholder="email"
      class="font-large"
    }}
    {{input
      value=password
      name="password"
      required=true
      type="password"
      placeholder="password"
      class="font-large"
    }}
    {{input
      value=passwordVerification
      name="password-verification"
      required=true
      type="password"
      placeholder="verify password"
      class="font-large"
    }}
    <button
      {{action "submit"}}
      class="primary-action submit font-large purple-text-shadow"
      disabled={{not isSubmitEnabled}}>
      sign up
    </button>
  </form>

  {{#if (gt validationErrors.length 0)}}
    <div class="container error">
      <ul class="error tac">
        {{#each validationErrors as |validationError|}}
          <li>{{validationError}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}