.auth-page {
  min-height: 100%;
  padding: 0 10px;
  background: linear-gradient(to bottom, $magenta 0%, $purple 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .headline {
    letter-spacing: 4px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

.auth-lockup {
  max-width: 400px;
  margin: 0px auto;
}

.auth-form {
  width: 100%;
  margin: 20px 0;

  .signup-cta {
    margin: 20px 0 0 0;
  }

  .form-error {
    margin-top: 20px;
  }

  ul.error {
    list-style: none;
    padding: 0;
    font-size: $font-small;

    li {
      color: red;
    }
  }
}

.auth-form-controls {
  display: flex;
  flex-direction: column;
  padding: 20px;

  input {
    display: block;
    width: calc(100% - #{(($form-control-padding + $form-control-border) * 2)});
    margin-bottom: 20px;
  }

  .submit {
    width: 100%;
  }
}

.auth-form-controls-wrapper {
  padding: 20px;

  .subheadline {
    margin-top: 0px;
  }

  .container.message {
    padding: 20px;
    margin-bottom: 20px;

    .message {
      margin: 0;

      .material-icons {
        margin-bottom: -2px;
        vertical-align: text-bottom;
      }
    }
  }


}

.auth-loading {
  display: flex;
  justify-content: center;
  background: white;

  .message {
    margin-left: 20px;
  }
}

.auth-error {
  padding: 20px;

  .material-icons.error {
    margin-top: 20px;
  }

  .message {
    padding: 20px 20px 20px 20px;
    margin: 0;
    color: red;
  }

  .primary-action {
    display: block;
    margin-top: 20px;
  }
}