$container-border-radius: 6px;

.container {
  &.glass {
    background: $glass;
    border: 1px solid $frosted-glass;
    border-radius: $container-border-radius;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
  }

  &.error {
    background: $error-glass;
    border: 1px solid $error-frosted-glass;
    border-radius: $container-border-radius;
  }

  &.success {
    background: $green;
    border: 1px solid $frosted-glass;
    border-radius: $container-border-radius;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
  }

  &.opaque {
    @include elevation-0();
    background: white;
    border-radius: $container-border-radius;
    box-shadow: 0 1px 8px $shadow-light;
    transition: box-shadow 0.1s ease-out;

    &:hover {
      @include elevation-1();
    }
  }
}

.full-width {
  width: 100%;
}