@import "fonts";
@import "sizes";
@import "utils";

html,
body {
  @include system-font();
}

.brand-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.headline {
  text-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.primary-action {
  color: white;
}

.body-copy {
  color: $graphite;
}
