.tac {
  text-align: center;
}

.white {
  color: white;
}

.dark-text-shadow {
  text-shadow: 0 0 6px $graphite;
}

.purple-text-shadow {
  text-shadow:  0 0 6px $purple;
}

.green-text-shadow {
  text-shadow:  0 0 6px $green;
}

.glowing-text {
  text-shadow: 0 0 6px $frosted-glass;
}