.loader-base.square-spin.glass {
  div {
    background: $magenta-mist;
    border: 1px solid $magenta;
    border-radius: $container-border-radius;
    box-shadow: inset 0 0 8px $magenta-mist;
    box-sizing: border-box;
  }
}