//////////////
// PALLETTE //
//////////////
$electric-teal: #8defe7;
$purple: rgba(192,52,247,1);
$purple-mist: rgba(192,52,247,0.4);
$eggshell: #f9f9f9;
$magenta: rgba(235,112,217,1);
$magenta-mist: rgba(235,112,217,0.4);
$green: #31D99C;
$graphite: #4c4c4c;


///////////
// GLASS //
///////////
$glass: rgba(255,255,255,0.2);
$frosted-glass: rgba(255,255,255,0.5);

$error-glass: rgba(255,0,0,0.2);
$error-frosted-glass: rgba(255,0,0,0.5);

/////////////
// SHADOWS //
/////////////
$shadow-light: rgba(0,0,0,0.2);