<section class="container auth-page">
  <div class="auth-lockup">
    <h1 class="headline font-xlarge tac brand-text white">crayon</h1>
    <div class="container auth-form glass">
      <div class="container auth-form-controls-wrapper">
        <h2 class="subheadline font-large tac white">rapidly issue, exchange, and redeem cryptographically secure digital assets</h2>
        {{liquid-outlet}}
      </div>
    </div>
  </div>
</section>